<h1>Individual Author Details</h1>

<h4>
  Name: <%= @author.name %>
</h4>

<p>
  Age: <%= @author.age %>
</p>

<p>Books written by <%= @author.name %></p>
<ul>
  <% @author.books.each do |book| %>
    <li>
      <%= link_to book.title, book_path(book) %>
    </li>
  <% end %>
</ul>

<hr>

<%= link_to 'Edit Author Details', edit_author_path(@author) %>